<div ng-controller="findPathCtrl">
    <navigation></navigation>
    <div layout="row">
        <md-sidenav class="md-sidenav-left" md-component-id="left" md-is-locked-open="stateSideNav" md-disable-backdrop="" md-whiteframe="4">
            <label style="color: #01579b;font-size: 150%; margin: 0 ; padding: 0;">Tram Bat Dau</label>
            <md-input-container style="margin: 0 ; padding: 0;">
                <md-select placeholder="Choise Station" ng-model="staionIdStart" md-on-open="loadStaion()" style="font-size: 120%;font-weight: bold;">
                    <md-option value="{{station.id}}" ng-repeat="station in stations" val>[{{station.id}}] {{station.name}}</md-option>
                </md-select>
            </md-input-container>
            <label style="color: #01579b;font-size: 150%; margin: 0 ; padding: 0;">Tram Ket Thuc</label>
            <md-input-container style="margin: 0 ; padding: 0;">
                <md-select placeholder="Choise Station" ng-model="staionIdEnd" md-on-open="loadStaion()" style="font-size: 120%;font-weight: bold;">
                    <md-option value="{{station.id}}" ng-repeat="station in stations" val>[{{station.id}}] {{station.name}}</md-option>
                </md-select>
            </md-input-container>
            <md-button class="md-raised md-primary" ng-click="findPath()">Tim Duong</md-button>
        </md-sidenav>
        <div layout="column" flex>
            <leaflet lf-center="focus" markers="markers" paths="paths" width="{{width}}" height="620px"></leaflet>
        </div>
    </div>
</div>