<div ng-controller="findPathCtrl">
    <navigation></navigation>
    <div layout="row">
        <md-sidenav class="md-sidenav-left" md-component-id="left" md-is-locked-open="stateSideNav" md-disable-backdrop="" md-whiteframe="4">
                <label style="color: #01579b;font-size: 150%; margin: 0 ; padding: 0;">Tram Bat Dau</label>
                <md-input-container style="margin: 0 ; padding: 0;">
                    <md-select placeholder="Choise Station" ng-model="routeId" md-on-open="loadRoute()" style="font-size: 120%;font-weight: bold;">
                        <md-option value="{{route.oderRoute}}" ng-repeat="route in routes" val>[{{route.idRoute}}] {{route.name}}</md-option>
                    </md-select>
                </md-input-container>
                <label style="color: #01579b;font-size: 150%; margin: 0 ; padding: 0;">Tram Ket Thuc</label>
                <md-input-container style="margin: 0 ; padding: 0;">
                    <md-select placeholder="Choise Station" ng-model="routeId" md-on-open="loadRoute()" style="font-size: 120%;font-weight: bold;">
                        <md-option value="{{route.oderRoute}}" ng-repeat="route in routes" val>[{{route.idRoute}}] {{route.name}}</md-option>
                    </md-select>
                </md-input-container>
               <md-button class="md-raised md-primary">Tim Duong</md-button>
            <md-content  style="height:520px; margin: 0 ;">
                <div ng-show="isLoading" layout="row" layout-align="space-around">
                    <md-progress-circular md-diameter="96"></md-progress-circular>
                </div>
                <md-list-item ng-model="stationSelected" ng-repeat="station in stations" ng-click="akc()" >
                    <p style="font-weight: bold;"> [{{station.oder}}] {{ station.name }} </p>
                </md-list-item>
            </md-content>
        </md-sidenav>
        <div layout="column" flex>
            <leaflet lf-center="focus" markers="markers" paths="paths" width="{{width}}" height="620px"></leaflet>
        </div>
    </div>
</div>
